<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-lg-4 left-content">
      <div class="row">
        <div class="col-4">
          <img src="assets/img/ankle.jpg" class="circle" alt="ankle">
        </div>
        <div class="col-4">
          <img src="assets/img/elbow.jpg" class="circle" alt="elbow">
        </div>
        <div class="col-4">
          <img src="assets/img/knee.jpg" class="circle" alt="knee">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <p> Nie od dzisiaj wiadomo, że sport to zdrowie, aczkolwiek jeżeli nie mamy wiedzy teoretycznej jak prawidłowo trzeba biegać lub w jaki sposób wykonywać ćwiczenia na siłowni, to w bardzo prosty sposób możemy narazić się na kontuzje.
Wiele czynników wpływa na to, w jakim stopniu jesteśmy podatni na kontuzje:
          </p>
          <ul>
            <li>- zmęczenie,</li>
            <li>- stres, </li>
            <li>- złe odżywianie, </li>
            <li>- brak odpowiedniej rozgrzewki, </li>
            <li>- słabo rozciągnięte mięśnie, </li>
            <li>- źle dobrane buty do treningu, </li>
            <li>- zbyt duże obciążenie podczas treningu. </li>
          </ul>
          <p> Aplikacja pierwszej pomocy ma za zadanie pomóc Ci w intuicyjnym zdiagnozowaniu bolącego miejca oraz
            udzielić Ci informacji jakie należy podjąć dalsze kroki w leczeniu
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <p> Kliknij w bolące miejsce, aby uzyskać więcej informacji o kontuzji </p>
      <img class="mb-3 img-fluid" src="assets/img/human2.PNG" alt="">
    </div>
  </div>

</div>
<nav>
  <a routerLink="/kolano">Kolano</a>
</nav>
