Jakieś tam rzeczy, między innymi manekin - z którego będzie nawigacja do różnych rzeczy
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Test bootstrapa
    </div>
    <div class="col-sm-4">
      dzialasz
    </div>
    <div class="col-sm-4">
      mordulo?
    </div>
  </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
  <div class="row"> test </div>
</div>
<nav>
  <a routerLink="/kolano">Kolano</a>
</nav>
