<div class="container">
  <div class="row mt-4 mb-4">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-4">
          <img src="assets/img/ankle.jpg" class="circle" alt="ankle">
        </div>
        <div class="col-4">
          <img src="assets/img/elbow.jpg" class="circle" alt="elbow">
        </div>
        <div class="col-4">
          <a routerLink="/kolano">
            <img src="assets/img/knee.jpg" class="circle" alt="knee">
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <p> Nie od dzisiaj wiadomo, że sport to zdrowie, aczkolwiek jeżeli nie mamy wiedzy teoretycznej jak prawidłowo trzeba biegać lub w jaki sposób wykonywać ćwiczenia na siłowni, to w bardzo prosty sposób możemy narazić się na kontuzje.
Wiele czynników wpływa na to, w jakim stopniu jesteśmy podatni na kontuzje:
          </p>
          <ul>
            <li>- zmęczenie,</li>
            <li>- stres, </li>
            <li>- złe odżywianie, </li>
            <li>- brak odpowiedniej rozgrzewki, </li>
            <li>- słabo rozciągnięte mięśnie, </li>
            <li>- źle dobrane buty do treningu, </li>
            <li>- zbyt duże obciążenie podczas treningu. </li>
          </ul>
          <p> Aplikacja pierwszej pomocy ma za zadanie pomóc Ci w intuicyjnym zdiagnozowaniu bolącego miejca oraz
            udzielić Ci informacji jakie należy podjąć dalsze kroki w leczeniu
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <p> Kliknij w bolące miejsce, aby uzyskać więcej informacji o kontuzji </p>
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 745 640">
         <g>
           <a (click)="goTo('/obszerny-boczny')">
             <title> mięsień obszerny boczny </title>
             <path d="M237,336 L231,313 235,310 230,310 226,299 212,355 216,405 229,409 232,403 242,362 238,336 228,305 z"/>
             <path d="M122,389 L118,364 123,327 132,300 146,362 136,405 128,406 122,391 119,362 z"  />
            </a>
          </g>
          <g>
            <a (click)="goTo('/obszerny-boczny')">
              <title> mięsień dwugłowy łydki </title>
              <path d="M517,443 L526,455 531,449 538,464 538,480 542,500 541,516 539,531 524,516 510,528 503,516 503,493 504,480 508,457 z"  />
              <path d="M620,443 L632,457 632,461 635,478 639,497 635,520 629,527 625,523 615,516 606,524 600,530 596,517 599,497 603,478 600,466 610,449 615,454 z"  />
              <path d="M211,480 L207,501 207,529 212,545 216,566 220,527 221,513 220,492 211,477 z"  />
              <path d="M140,489 L136,501 140,533 140,583 145,547 152,515 150,498 146,476 z"  />
            </a>
          </g>
          <g>
            <a (click)="goTo('/obszerny-boczny')">
              <title> mięsień dwugłowy uda </title>
                  <path d="M513,448 L520,439 525,429 525,437 528,442 539,466 545,450 547,431 554,398 548,356 539,357 536,353 526,357 522,357 518,370 515,387 511,405 508,423 508,439 506,455 z"/>
                  <path d="M610,446 L615,427 620,440 633,454 632,427 628,406 622,372 614,353 600,356 596,355 589,370 588,400 591,407 594,430 596,452 601,466 z"/>
            </a>
          </g>
          <g>
            <a (click)="goTo('/kolano')">
              <title> Wiązadła krzyżowe </title>
                  <path d="M118,455 L123,464 135,465 143,458 144,444 139,436 129,435 120,439 z"/>
                  <path d="M225,464 L235,461 236,448 235,440 231,433 223,435 216,443 217,458 z"/>
            </a>
          </g>
          <g>
            <a (click)="goTo('/kolano')">
              <title> Mięsień pośladkowy wielki </title>
                <path d="M544,353 L560,347 569,333 571,332 573,340 585,352 596,352 606,348 615,336 622,324 622,298 619,283 614,270 596,268 591,272 581,278 570,300 567,293 556,276 544,268 528,268 520,284 519,308 520,336 531,349 z"/>
            </a>
          </g>
       </svg>
       <div class="row">
         Źródło obrazu: http://www.shapesense.com/images/blank-muscle-anatomy.jpg
       </div>
    </div>
  </div>
</div>
