
p{
  font-family: "Helvetica Neue";
  font-size: 4;
}

.circle{
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 2px solid #004579;
  text-align:center;
  line-height:5em;
}

.circle:hover{
  filter: drop-shadow(0 0 15px #004579);
  fill: orange;
  transition: filter 1s;
}

li{
  list-style: none;
  font-family: "Helvetica Neue";
  font-size: 4;
}


svg {
  background-image: url(src/assets/img/human2.PNG);
  background-size: 100% 100%;
}
path {
  fill: transparent;
  cursor: pointer;
  transition: fill 0.3s;
}

svg a:hover path {
 fill:  rgba(207, 0, 15, 0.25);
 cursor: pointer;
}
