<div class="container">
  <div class="row mb-4 mt-4">
    <div class="col">
      Pola oznaczone * są obowiązkowe
    </div>
  </div>

  <form class="form-registration mb-4 mt-4" [formGroup]="registrationForm" (submit)="register()">
    <img class="mb-3 mx-auto d-block" src="assets/img/wyleczkontuzje_foto.png" alt="" width="90" height="72">
    <h1 class="h3 mb-3 font-weight-normal text-center">Rejestracja</h1>
    <div class="form-group">
      <label for="remail">E-mail *</label>
      <input type="email" class="form-control" id="remail" placeholder="Wpisz swój email" formControlName="email" required>
      <ng-container *ngIf="registrationForm.controls['email'].touched && registrationForm.hasError('emailNotValidate')">
        <small class="form-text text-muted">
          Wpisz poprawny email
        </small>
      </ng-container>
    </div>

    <div class="form-group">
      <label for="password">Hasło *</label>
      <input type="password" class="form-control" id="password" placeholder="Wpisz swoje hasło" formControlName="password" (blur)="walidacjaHaslo()">
       <small id="passwordError" class="form-text text-muted"> </small> 
  </div>

  <div class="form-group">
    <label for="password2">Powtórz hasło *</label>
    <input type="password" class="form-control" id="password2" placeholder="Wpisz ponownie swoje hasło" (blur)="walidacjaPowtorzHaslo()" required>
    <small id="repeatPasswordError" class="form-text text-muted"> </small> 
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Imię</label>
      <input type="text" class="form-control" id="name" placeholder="Podaj swoje imie" (blur)="walidacjaImie()" >
      <small id="imieError" class="form-text text-muted"> </small>

    </div>
   <div class="form-group col-md-6">
     <label for="lastname">Nazwisko</label>
     <input type="text" class="form-control" id="lastname" placeholder="Podaj swoje nazwisko" (blur)="walidacjaNazwisko()">
     <small id="nazwiskoError" class="form-text text-muted"> </small>
      </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="street">Ulica, numer bloku</label>
      <input type="text" class="form-control" id="street" placeholder="Podaj swój adres">
    </div>
    <div class="form-group col-md-4">
      <label for="homenumber">Numer mieszkania</label>
      <input type="text" class="form-control" id="homenumber" placeholder="Podaj numer mieszkania">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="city">Miasto</label>
      <input type="text" class="form-control" id="city" placeholder="Podaj miasto" (blur)="walidacjaMiasto()">
      <small id="cityError" class="form-text text-muted"> </small>
      </div>
    <div class="form-group col-md-5">
      <label for="rcounty">Województwo</label>
      <select id="rcounty" class="form-control">
        <option selected> Wybierz... </option>
        <option> Dolnośląskie </option>
        <option> Kujawsko-pomorskie </option>
        <option> Lubelskie </option>
        <option> Lubuskie </option>
        <option> Łódzkie </option>
        <option> Małopolskie </option>
        <option> Mazowieckie </option>
        <option> Oposkie </option>
        <option> Podkarpackie </option>
        <option> Podlaskie </option>
        <option> Pomorskie </option>
        <option> Śląskie </option>
        <option> Świętokrzyskie </option>
        <option> Warmińsko-mazurskie </option>
        <option> Wielkopolskie </option>
        <option> Zachodniopomorskie </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="postalcode">Kod pocztowy</label>
      <input type="text" class="form-control" id="postalcode" placeholder="Kod pocztowy" (blur)="walidacjaKodPocztowy()">
      <small id="postalCodeError" class="form-text text-muted"> </small>
      </div>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember"> Zapamiętaj mnie
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!registrationForm.valid">Zarejestruj się</button>
  </form>
</div>
