.banner{
  width: 100%;
}
.menu-icon{
  font-size: 3em;
  color: #0078d2;
}

.navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.searchbox{
  width: 15em;
}
ul{
  list-style: none;
}


.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  min-height: 28px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

  .search-result li:hover {
    background-color: #607D8B;
  }

  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
  }

    .search-result li a:hover {
      color: white;
    }

    .search-result li a:active {
      color: white;
    }
