<!-- <nav>
  <a routerLink="/content">Strona główna</a>
  <a routerLink="/sklep">Sklep</a>
  <a routerLink="/rejestracja">Rejestracja</a>
  <a routerLink="/logowanie">Login</a>
</nav> -->
<img src="assets/img/baner.png" class="img-fluid banner" alt="baner">
 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" routerLink="/content">
      <img src="assets/img/wyleczkontuzje_logo.png" width="230" height="70" alt="logo">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" routerLink="/content">Strona główna <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/sklep">Sklep</a>
    </ul>
    <ul class="nav navbar-nav">
      <fa-icon [icon]="faUser" class="d-none d-lg-block menu-icon"></fa-icon> <!-- ukrywam ikonę, kiedy szerokość strony odpowiada
      urządzeniom mobilnym -- ikona pobrana z fontawesome, zeby to zrobic najpierw musiałem zainstalować FA, później w wybranym module
    zaimportować ją z @fortawesome/free-solid-svg-icons' -->
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/rejestracja">Rejestracja</a>
        <a class="nav-item nav-link" routerLink="/logowanie">Logowanie</a>
      </li>
  </ul>
  </div>
</nav>
