<div class="container">
  <div class="row mt-4">
    <div class="col-lg-4">
      <div *ngIf="floss.amount > 0; else elseBlock" class="col-lg-6 mb-2 mt-2">
        <button type="button" (click)="addToCart(floss)" class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Do koszyka</button>
      </div>
      <ng-template #elseBlock>
        <div class="col-lg-6 mb-2 mt-2">
          <button type="button" (click)="addToCart(floss)" class="btn btn-primary" title="Brak produktu w magazynie!" disabled><fa-icon [icon]="faShoppingCart" ></fa-icon> Do koszyka</button>
        </div>
      </ng-template>
      <a routerLink="/floss" class="product-link">
        <div class="product-area text-center">
          <h4> {{floss.name}} </h4>
          <img class="img-fluid product-image" src="{{floss.image}}" alt="floss">
          <div>
            <p> {{floss.shortdescription}} </p>
            <p class="font-weight-bold"> Cena {{floss.price}} zł </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4">
      <div *ngIf="band.amount > 0; else elseBlock" class="col-lg-6 mb-2 mt-2">
        <button type="button" (click)="addToCart(band)" class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Do koszyka</button>
      </div>
      <ng-template #elseBlock>
        <div class="col-lg-6 mb-2 mt-2">
          <button type="button" (click)="addToCart(band)" class="btn btn-primary" title="Brak produktu w magazynie!" disabled><fa-icon [icon]="faShoppingCart" ></fa-icon> Do koszyka</button>
        </div>
      </ng-template>
      <a routerLink="/band" class="product-link">
        <div class="product-area text-center">
          <h4> {{band.name}} </h4>
          <img class="img-fluid product-image" src="{{band.image}}" alt="floss">
          <div>
            <p> {{band.shortdescription}} </p>
            <p class="font-weight-bold"> Cena {{band.price}} zł </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4">
      <div *ngIf="ball.amount > 0; else elseBlock" class="col-lg-6 mb-2 mt-2">
        <button type="button" (click)="addToCart(ball)" class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Do koszyka</button>
      </div>
      <ng-template #elseBlock>
        <div class="col-lg-6 mb-2 mt-2">
          <button type="button" (click)="addToCart(ball)" class="btn btn-primary" title="Brak produktu w magazynie!" disabled><fa-icon [icon]="faShoppingCart" ></fa-icon> Do koszyka</button>
        </div>
      </ng-template>
      <a routerLink="/ball" class="product-link">
        <div class="product-area text-center">
          <h4> {{ball.name}} </h4>
          <img class="img-fluid product-image" src="{{ball.image}}" alt="ball">
          <div>
            <p> {{ball.shortdescription}} </p>
            <p class="font-weight-bold"> Cena {{ball.price}} zł </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-4">
      <div *ngIf="mat.amount > 0; else elseBlock" class="col-lg-6 mb-2 mt-2">
        <button type="button" (click)="addToCart(mat)" class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Do koszyka</button>
      </div>
      <ng-template #elseBlock>
        <div class="col-lg-6 mb-2 mt-2">
          <button type="button" (click)="addToCart(mat)" class="btn btn-primary" title="Brak produktu w magazynie!" disabled><fa-icon [icon]="faShoppingCart" ></fa-icon> Do koszyka</button>
        </div>
      </ng-template>
      <a routerLink="/mat" class="product-link">
        <div class="product-area text-center">
          <h4> {{mat.name}} </h4>
          <img class="img-fluid product-image" src="{{mat.image}}" alt="mat">
          <div>
            <p> {{mat.shortdescription}} </p>
            <p class="font-weight-bold"> Cena {{mat.price}} zł </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-4">
      <div *ngIf="roller.amount > 0; else elseBlock" class="col-lg-6 mb-2 mt-2">
        <button type="button" (click)="addToCart(roller)" class="btn btn-primary"><fa-icon [icon]="faShoppingCart"></fa-icon> Do koszyka</button>
      </div>
      <ng-template #elseBlock>
        <div class="col-lg-6 mb-2 mt-2">
          <button type="button" (click)="addToCart(roller)" class="btn btn-primary" title="Brak produktu w magazynie!" disabled><fa-icon [icon]="faShoppingCart" ></fa-icon> Do koszyka</button>
        </div>
      </ng-template>
      <a routerLink="/roller" class="product-link">
        <div class="product-area text-center">
          <h4> {{roller.name}} </h4>
          <img class="img-fluid product-image" src="{{roller.image}}" alt="roller">
          <div>
            <p> {{roller.shortdescription}} </p>
            <p class="font-weight-bold"> Cena {{roller.price}} zł </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
