/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.shop-icon{
  font-size: 1.5em;
  color: #0078d2;
}

a.product-link {
  color: black !important;
  text-decoration: none !important;
}
.product-area{
  height: 25em;
  border: 1px solid #ddd;
  border-radius: 4px;
}
a.product-link :hover{
  background-color: #ddd;
}
