<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-md-4">
      <h3>Twoje produkty</h3>

      <div class="item mt-4" *ngFor="let item of items">
        <span>{{ item.name }}</span>
        <span>{{ item.price }}</span>
      </div>
      <div class="row" *ngIf='summary'>
        <div class="col-12">
          <p> Łączna kwota:  {{summary}} </p>
         </div>
      </div>
      <button type="button" (click)="onClear()" class="btn btn-primary mt-4"> Wyczyść koszyk </button>
    </div>
  </div>
</div>
